<div class="container_menuBar">
    <ul>
        <li><a href="https://github.com/FlavioFilho1/angular-blog" target="_blank" style="text-decoration: none;">GitHub</a></li>
        <li><span>|</span></li>
        <li><a href="https://www.infojobs.com.br/Candidate/" target="_blank" style="text-decoration: none;">InfoJobs</a></li>
        <li><span>|</span></li>
        <li><a href="https://web.dio.me/users/flaviofpintofilho_ped/?tab=achievements" target="_blank" style="text-decoration: none;">Dio</a></li>
    </ul>
</div>
